.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 64px;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 30px;
}

.navbar__left a {
    font-weight: 600;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    padding-left: 10px;
}

.navbar__right {
    padding-right: 10px;
}

.navbar__right a {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    margin-right: 24px;
    padding-right: 10px;
}

.navbar__right a:last-child {
    margin-right: 0;
}

.login {
    color: green !important;
}

.login:hover {
    color: rgb(3, 95, 3) !important;
}

.logout {
    color: red !important;
}

.logout:hover {
    color: rgb(161, 5, 5) !important;
}